<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AyoCoding</title>
</head>
<body>
  <h1>My Course</h1>
  <% if (data.Courses.length) { %>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% data.Courses.forEach(el => { %>
        <tr>
          <td><%= el.title %></td>
          <td><%= el.description %></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
  
  <%- include('./components/_footer.ejs') %>

</body>
</html>